body {
  font-family: Roboto, arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4285f4;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

.left_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.right_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.right_header button {
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.google {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding: 0;
}

.search {
  display: flex;
  z-index: 3;
  height: 50px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 25px;
  margin: 0 auto;
  width: auto;
  max-width: 600px;
}

.search input {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search i {
  border: 0;
  background: transparent;
  padding: 15px;
}

.buttons {
  display: block;
  text-align: center;
}

.button1 {
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  margin: 10px 5px;
  padding: 0 15px;
  height: 35px;
  min-width: 55px;
  text-align: center;
}

.button2 {
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  margin: 10px 5px;
  padding: 0 15px;
  height: 35px;
  min-width: 55px;
  text-align: center;
}

.more_info {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 14px;
  color: gray;
}

.left_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px;
}

.center_footer {
  text-align: center;
}

.right_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px;
}
